@model BABULESASP.Models.tblTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tr_categorie)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tr_type)
        </dd>

        <dt>
            Sum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tr_sum)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tr_date)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tr_description_)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })    
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</p>
